@font-face {
  font-family: 'Android 7';
  src: url("Android7.eot"), url("../fonts/Android7.woff2") format("woff2"), url("../fonts/Android7.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Android 7';
  src: url("Android7.eot"), url("../fonts/Android7.woff2") format("woff2"), url("../fonts/Android7.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.advantages {
  background: #000; }

.advantages-output {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;
  position: relative; }

.advantages-output__title {
  font-size: 20px;
  font-family: "Android 7";
  color: #fff;
  margin-bottom: 20px; }
  @media only screen and (min-width: 1220px) {
    .advantages-output__title {
      position: absolute;
      left: 160px;
      font-size: 60px;
      width: 340px; } }

.advantages-ouptput__counter {
  font-family: "Android 7";
  font-size: 30px;
  letter-spacing: -1.5px;
  color: #fff;
  width: 280px;
  height: 50px;
  background-color: #336be1;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .advantages-ouptput__counter {
      width: 450px;
      height: 70px;
      font-size: 40px; } }
  @media only screen and (min-width: 1220px) {
    .advantages-ouptput__counter {
      margin-top: 105px;
      width: 680px;
      height: 115px;
      font-size: 60px; } }

.advantages-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding: 30px 30px 0 30px; }
  @media only screen and (min-width: 768px) {
    .advantages-content {
      flex-direction: inherit;
      justify-content: center; } }

.advantages-content__title {
  text-transform: uppercase;
  font-size: 50px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 200; }
  @media only screen and (min-width: 768px) {
    .advantages-content__title {
      transform: rotate(-90deg); } }

.advantages-content__trait {
  width: 1px;
  height: 65px;
  background: #fff;
  border: none; }
  @media only screen and (min-width: 768px) {
    .advantages-content__trait {
      height: 445px; } }

.test {
  margin-top: -15px;
  padding: 20px 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .test {
      margin-top: -40px;
      margin-left: -149px;
      width: 130px;
      z-index: 0; } }

.advantages-list__text {
  font-size: 20px;
  color: #fff;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  line-height: 25px; }
  @media only screen and (min-width: 768px) {
    .advantages-list__text {
      margin-bottom: 50px; } }
  @media only screen and (min-width: 1220px) {
    .advantages-list__text {
      margin-bottom: 70px; } }

.pixel {
  display: flex;
  justify-content: flex-end; }
  @media only screen and (min-width: 768px) {
    .pixel {
      justify-content: flex-start; } }

#bottom-mobil {
  width: 295px;
  height: 90px;
  display: block; }
  @media only screen and (min-width: 768px) {
    #bottom-mobil {
      display: none; } }

#bottom-tablet {
  width: 740px;
  height: 118px;
  display: block;
  display: none; }
  @media only screen and (min-width: 768px) {
    #bottom-tablet {
      display: block; } }
  @media only screen and (min-width: 1220px) {
    #bottom-tablet {
      display: block;
      width: 1370px;
      height: 210px; } }

/*# sourceMappingURL=style.css.map */
